.services-section{
    width: 90%;
}

.service-btn{
    background-color: transparent;
    padding: 7px 60px;
    border: 2px solid rgb(126, 126, 126);
    border-radius: 5px;
    color: #E12857;
    font-weight: 600;
    transition: .3s;
}

.service-btn:hover{
    background-color: #243847;
    color: #fff;
}

@media only screen and (max-width:688px) {
    .service-btn{
        font-size: 14px;
    }
}