.hero-area{
    background-image: url('https://i.ibb.co/Pcw6Fjk/top-view-world-heart-day-concept-with-stethoscope.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 670px;

}

.banner-text{
    width: 40%;
    padding: 60px;
    margin-right: 80px;
}

@media only screen and (max-width:688px) {
    .banner-text{
        width: 100%;
        padding: 60px;
    margin-right: 60px;
    
    }
}